!output/

output/*
!output/RequiredModules

output/RequiredModules/*

!output/RequiredModules/ProtectedData
output/RequiredModules/ProtectedData/*
!output/RequiredModules/ProtectedData/9.9.9

!output/RequiredModules/DscBuildHelpers
output/RequiredModules/DscBuildHelpers/*
!output/RequiredModules/DscBuildHelpers/9.9.9

!output/RequiredModules/Sampler.DscPipeline
output/RequiredModules/Sampler.DscPipeline/*
!output/RequiredModules/Sampler.DscPipeline/9.9.9

lab/testResults.xml
