!output/

output/*
!output/RequiredModules

output/RequiredModules/*

!output/RequiredModules/ProtectedData
output/RequiredModules/ProtectedData/*
!output/RequiredModules/ProtectedData/5.0.0

!output/RequiredModules/DscConfig.M365
output/RequiredModules/DscConfig.M365/*
!output/RequiredModules/DscConfig.M365/1.0.0

!output/RequiredModules/DscBuildHelpers
output/RequiredModules/DscBuildHelpers/*
!output/RequiredModules/DscBuildHelpers/0.3.0

!output/RequiredModules/Sampler.DscPipeline
output/RequiredModules/Sampler.DscPipeline/*
!output/RequiredModules/Sampler.DscPipeline/0.8.0

lab/testResults.xml
